[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "sound-protocol-demo/contracts/lib/forge-std"]
	path = sound-protocol-demo/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "sound-protocol-demo/contracts/lib/openzeppelin-contracts"]
	path = sound-protocol-demo/contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
